__pycache__
.sass-cache/
.DS_Store
*.pyc
*.swp
*.sqlite3
*.fuse_hidden*
*.vscode
manage.py
test500.py
configs/*
centurion/media/*
centurion/static/*
centurion/settings/local.py
centurion/settings/production.py
.env
venv
centurion/configs/production2.py
.idea/*
.idea/inspectionProfiles/profiles_settings.xml
centurion/configs/production.py
centurion/settings/settings.py
.idea/
.idea/workspace.xml
.idea/centurion.iml
.idea/misc.xml


